{% for section in sections %}
{% set title = section.section_title | trim %}
{% if "Subscription Databases" in title  %}
<h3>Current Configuration</h3>
<p>The current configuration contains the following subscription database stanzas.</p>
<ul>
{% for stanza in section.content %}
<li class="p-0 m-0">{{ stanza.stanza_title | trim }}</li>
{#{{ stanza.stanza_body | trim | raw }}#}
{% endfor %}
</ul>
{% endif %}
{% endfor %}