<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

{% if user %}
{% include 'navbar.twig' %}
{% endif %}

<main role="main" class="container-fluid">

{% block main %}{% endblock %}

</main>

{% include 'footer.twig' %}

</body>
</html>