<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZProxy Editor</title>

    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EZ Proxy Editor</a>
    {% block messages %}{% endblock %}
</nav>


<main role="main" class="container-fluid">

    {% block content %}{% endblock %}

</main>

</body>
</html>