<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

</head>
<body>

{% include 'navbar.twig' %}

<main role="main" class="container-fluid">

{% block main %}{% endblock %}

</main>

{% include 'footer.twig' %}

</body>
</html>