<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZProxy Editor</title>

    <link rel="stylesheet" type="text/css" href="assets/css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

</head>
<body>

{#{% include 'navbar.twig' %}#}

<div id="app" class="container-fluid">
</div>

<script src="assets/js/app.js"></script>
</body>

</html>