<div class="card">

    <div class="card-header">

        <h5 class="card-title">
            {% block cardtitle %}{% endblock %}
        </h5>
        <h6 class="card-subtitle text-muted">
            {% block cardsubtitle %}{% endblock %}
        </h6>

    </div>
    <div class="card-body">

        {% block cardbody %}{% endblock %}

    </div>
</div>