{% extends 'card.twig' %}

{% block cardclass %}deleted hide{% endblock %}

{% block cardheaderclass %}bg-warning{% endblock %}

{% block cardtitle %}
    Deleted Stanzas
{% endblock %}

{% block cardbody %}

    <p class="card-text">These stanzas have been deleted, but the changes are not yet written to a configuration file.</p>

    <ul id="deleted_stanzas" class="">


    </ul>

    <a target="_self" href="{{ baseurl }}/" class="card-link btn btn-secondary pull-left">Revert Changes</a>

    <button id="update_config_button" class="btn-success btn pull-right" type="submit" disabled>Save Changes</button>

{% endblock %}