<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Edit Stanza</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-3 col-form-label" for="stanza_title">Stanza Title</label>
            <div class="col-sm-9">
                <input id="stanza_title" name="stanza_title" type="text" placeholder="title" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-sm-3 col-form-label" for="stanzabody">Stanza Content</label>
            <div class="col-md-9">
                <textarea rows="8" class="form-control" id="stanza_content" name="stanzabody"></textarea>
            </div>
        </div>

    </fieldset>
</form>
