<form id="editor_form" class="form-horizontal" onsubmit="return false;">
    <fieldset>

        <!-- Form Name -->
        <legend>Edit Stanza</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="form-label" for="last_edited">Last Edited: <span class="text-muted" id="last_edited_text">{{ "now"|date('Y-m-d h:m A') }}</span></label>
            <input type="hidden" name="last_edited" value="" />

        <!-- Text input-->
        <div class="form-group">
            <label class="form-label" for="stanza_title">Stanza Title</label>
            <input id="stanza_title" name="stanza_title" type="text" placeholder="title" class="form-control input-md" readonly="">
        </div>


        </div>
        <!-- Textarea -->
        <div class="form-group">
            <label class="form-label" for="stanzabody">Stanza Content</label>
            <textarea rows="8" class="form-control" id="stanza_body" name="stanzabody" readonly=""></textarea>
        </div>

        <div class="form-group">

            <button id="revert_btn" class="btn-secondary btn" disabled>Revert</button>
            <button id="save_btn" class="btn-success btn" disabled>Update Stanza</button>

        </div>

        <input type="hidden" id="previous_title" value="" />
        <input type="hidden" id="previous_body" value="" />
        <input type="hidden" id="origin_id" value="" />

    </fieldset>
</form>
