{% extends 'card.twig' %}

{% block cardclass %}edited hide{% endblock %}

{% block cardtitle %}
    Edited Stanzas
{% endblock %}

{% block cardbody %}

    <p class="card-text">These stanzas have been modified, but not yet written to a configuration file.</p>

    <ul id="edited_stanzas" class="">


    </ul>

    <a target="_blank" href="?edit=1" class="card-link">Revert to file</a><br/>
    <a target="_blank" href="#" class="card-link">Save to File</a>

{% endblock %}