{% extends 'base.twig' %}

{% block messages %}

    {% include 'messages.twig' with { 'status': messages.status, 'text': messages.text } %}

{% endblock %}

{% block content %}

    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-4 col-xl-3 sidebar left" id="sidebar">
        <div class="wrapper">
            <form method="post">

                {% for section in sections %}

                {% if section.section_title is not empty %}

                    {% include 'section.twig' %}

                {% endif %}

                {% endfor %}

                <button class="btn-primary btn" type="submit">Submit</button>

            </form>
        </div>
        </div>
        <div class="col">
            <div class="wrapper">
               {% include 'editor.twig' %}
            </div>
        </div>

        <div class="col-12 col-md-4 col-xl-3 sidebar right">

            <div class="wrapper">
                <ul>
                    <li>Export config.txt</li>
                    <li>Preview config.txt</li>
                </ul>
            </div>

        </div>
    </div>


{% endblock %}
