{% extends 'base.twig' %}

{% block messages %}

    {% include 'messages.twig' with { 'status': messages.status, 'text': messages.text } %}

{% endblock %}

{% block content %}

    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-4 col-xl-3 bd-sidebar" id="sidebar">

            <form method="post">

                {% for section in sections %}

                {% if section.section_title is not empty %}

                    {% include 'section.twig' %}

                {% endif %}

                {% endfor %}

                <button class="btn-primary btn" type="submit">Submit</button>

            </form>
        </div>
        <div class="col">
            <div class="container">
               {% include 'editor.twig' %}
            </div>
        </div>
    </div>


{% endblock %}
