{% extends 'twocols.twig' %}

{% block title %}Authentication Required{% endblock %}

{% block content %}
   <h1>Authentication Required</h1>
{% endblock %}

{% block messages %}

{% endblock %}

{% block rightcol %}


{% endblock %}