<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EZProxy Config Preview</title>

    <script src="assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

</head>
<body>

{% include 'navbar.twig' %}

<main role="main" class="container-fluid">

{% include 'config/config_sections.twig' %}

</main>

</body>
</html>