{% if status %}
    {% set class = status %}
{% endif %}

<h5>Sections</h5>

<form id="update_config_form" class="{{ class }}" method="post" action="/library/ezproxyeditor/">

    {% for section in sections %}

        {% if section.section_title is not empty %}

            {% include 'section.twig' %}

        {% endif %}

    {% endfor %}


</form>