<h5>Sections</h5>

<form method="post">

    {% for section in sections %}

        {% if section.section_title is not empty %}

            {% include 'section.twig' %}

        {% endif %}

    {% endfor %}

    <hr/>

    <button id="update" class="btn-success btn" type="submit" disabled>Update Configuration</button>

</form>