<h5>Sections</h5>

<form id="update_config_form" method="post" action="/library/ezproxyeditor/">

    {% for section in sections %}

        {% if section.section_title is not empty %}

            {% include 'section.twig' %}

        {% endif %}

    {% endfor %}

    <hr/>

    <button id="update_config_button" class="btn-success btn" type="submit" disabled>Update Configuration</button>

</form>