{% extends 'card.twig' %}

{% block cardclass %}status{% endblock %}

{% block cardtitle %}
    Configuration Options
{% endblock %}

{% block cardbody %}

    <a target="_self" href="{{ baseurl }}/" class="card-link">Return to Editor</a><br/>
    <a target="_self" href="{{ baseurl }}/write" class="card-link">Save to File</a>

{% endblock %}