{% extends 'twocols.twig' %}

{% block title %}EZproxy Config Upload{% endblock %}

{% block content %}
    <div class="p-3"><pre>{% include 'config/sections_config.twig' %}</pre></div>
{% endblock %}

{% block messages %}

    {% for message in messages %}

        {% include 'messages.twig' with { 'status': message[0], 'text': message[1]} %}

    {% endfor %}

{% endblock %}

{% block rightcol %}

    {% set widgets = ['updated'] %}
    {% include 'rightcol.twig' with {'widgets': widgets } %}

{% endblock %}