
.sidebar {

  &.left {

    border-right: 1px solid $gray-300;

  }

  &.right {

    border-left: 1px solid $gray-300;

  }


  .bd-toc-item {


    .bd-toc-link {

      /* menu item */

      h5 {

        color: $gray-600;
        font-size: 1.1em;
        padding: 0 0 0 0em;

        &::before {
          content: '\25B8';
          margin-right: 5px;
          color: $gray-800;
          width: 16px;
          display: inline-block;
        }

      }

      /* menu item expanded */

      &[aria-expanded="true"] {

        h5 {
          color: $gray-600;

          &::before {
            content: '\25BE';
            margin-right: 5px;
            color: $gray-600;
            width: 16px;
            display: inline-block;
          }

        }


      }

    }


    ul {

      max-height: 248px;
      overflow-y: scroll;
      overflow-x: hidden;
      list-style: none;
      padding: 0;
      margin: 0 0 1rem 1em;

      li {

        list-style: none;

        &:first-child {

          a {
            border-top: 1px solid $gray-400;
          }

        }

        &.updated {

          a {
            color: $success;
          }

        }

        a {
          padding: .5em;
          border-bottom: 1px solid $gray-400;
          display: block;

          &:hover,
          &:focus,
          &:active {

            text-decoration: none;
            background: rgba(0,0,0,.25);

          }
          &.active {

            color: $gray-900;
            background: rgba(0,0,0,.25);

          }


        }

      }

    }

  }

  span.date {
    font-size: .8em;
    font-weight: bold;
    margin-left: .5em;
  }

}

.navbar {
  .alert {
    padding: 0.5rem 2.5rem .5rem .75rem;
    margin: 0;
    font-size: .8em;

    .close {
      padding: .31rem .5rem;
    }
  }
}



.wrapper {
  padding: 1rem 0;
}